Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateName: my-first-django-template
      LaunchTemplateData:
        InstanceType: t2.micro
        ImageId: <ami-049a0782ca02dc58c>
        SecurityGroupIds:
          - <sg-0bd65fafb9e4afbfa>
        IamInstanceProfile:
          Name: aws-elasticbeanstalk-ec2-role
